<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>
<body>
    <h1>Show Comment Page</h1>
    <h2><%= comment.id %> <%= comment.username %> <%= comment.comment %></h2>
    <a href="/comments">Back to all comments</a>
</body>
</html>