<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Example</title>
</head>
<body>
    <h1>GET AND POST REQUEST</h1>
    <h2>GET</h2>
    <form action="http://localhost:5000/tacos" method="get">
        <input type="text" name="meat" id="">
        <input type="number" name="amount" id="">
        <button>Submit</button>
    </form>
    <h2>POST</h2>
    <form action="http://localhost:5000/tacos" method="post">
        <input type="text" name="meat" id="">
        <input type="number" name="amount" id="">
        <button>submit</button>
    </form>
</body>
</html>